{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}photo-stories{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<header class="header" id="header">
  {{ partial "header.html" . }}
</header>

<div id="chap1" class="interactive__chap1 flex-column">
  <a href="chap1">Chapter One</a>
</div>
<div id="chap2" class="interactive__chap2 flex-column">
  <a href="chap2">Chapter Two</a>
</div>
<div id="chap3" class="interactive__chap3 flex-column">
  <a href="chap3">Chapter Three</a>
</div>
<div id="chap4" class="interactive__chap4 flex-column">
  <a href="chap4">Chapter Four</a>
</div>
{{ end }}

{{ define "scripts" }}
{{ $scripts := resources.Get "js/scripts.js" }}
{{ $header := resources.Get "js/header.js" }}
{{ $hamburger := resources.Get "js/hamburger.js" }}
{{ $interactiveBundle := slice $scripts $header $hamburger | resources.Concat "js/interactiveBundle.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $interactiveBundle.RelPermalink }}">
</script>
{{ else }}
<script type="text/javascript" src="{{ ($interactiveBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ block "footer_js" . }}
{{ end }}
{{ end }}