{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ .Title | lower }}{{ end }}
{{ define "main" }}
{{ partial "main-menu-mobile.html" . }}
<nav>
  <!--full screen-->
  {{ partial "header.html" . }}
  <!--hamburger-->
  {{ partial "hamburger.html" . }}
</nav>
{{ partial "story-hero.html" (dict "background" .Params.image "heading" .Params.storyHeading "subheading" .Params.storySubheading "content" .) }}

<section class="about__intro flex-column">
  {{ .Content }}
</section>

<section class="about__filter flex" id="about-filter">
  <div class="is-active" id="about__filter--everyone">Everyone</div>
  <div id="about__filter--photog">Photographers</div>
  <div id="about__filter--vid">Videographers</div>
  <div id="about__filter--rep">Reporters</div>
  <div id="about__filter--des">Designers</div>
  <div id="about__filter--dev">Developers</div>
  <div id="about__filter--coach">Coaches</div>
</section>

<section class="about__content" id="about-content">
  {{ range .Site.Data.about }}
  <div class="about__person flex">

    <img src="../images/medellin.jpg" alt="medellin" />

    <div class="about__info flex-column">
      <span class="about__info--name">{{.first }} {{ .last }}</span>
      <span class="about__info--role">{{ .role }}</span>
      <div class="about__info--links">
        {{ if ne .fb "" }}
        <a href="{{ .fb }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        {{end}}
        {{if ne .twitter "" }}
        <a href="{{ .twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
        {{end}}
        {{if ne .instagram "" }}
        <a href="{{ .instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
        {{end}}
        {{ if ne .linkedin ""}}
        <a href="{{ .linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        {{end}}
        {{ if ne .gh ""}}
        <a href="{{ .gh }}" target="_blank"><i class="fab fa-github"></i></a>
        {{end}}
        {{ if ne .website ""}}
        <a href="{{ .website }}" target="_blank"><i class="fas fa-globe"></i></a>
        {{end}}
      </div>
      <div class="about__info--bio">
        <p>In this paragraph will be a short description of each person based on what they write themselves</p>
      </div>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}

{{ define "scripts" }}
{{ $scripts := resources.Get "js/scripts.js" }}
{{ $header := resources.Get "js/header.js" }}
{{ $about := resources.Get "js/about.js" }}
{{ $hamburger := resources.Get "js/hamburger.js"}}
{{ $aboutpageBundle := slice $scripts $header $about $hamburger | resources.Concat "js/aboutpageBundle.js" }}
{{ block "footer_js" . }}{{ end }} {{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $aboutpageBundle.RelPermalink }}">
</script>
{{ else }}
<script type="text/javascript" src="{{ ($aboutpageBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}