{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ .Title | lower }}{{ end }}
{{ define "main" }}
{{ partial "main-menu-mobile.html" . }}
<nav>
  <!--full screen-->
  {{ partial "header.html" . }}
  <!--hamburger-->
  {{ partial "hamburger.html" . }}
</nav>
{{ partial "story-hero.html" (dict "background" .Params.image "heading" .Params.storyHeading "subheading" .Params.storySubheading "content" .) }}

<section class="about__intro flex-column">
  {{ .Content }}
  <h1>Meet the Team</h1>
  {{ partial "ybr-line.html" . }}
</section>

<div class="container">
  <div id="team">
    <div class="controls about__filter flex">
      <div data-filter="all" id="about__filter--everyone">Everyone</div>
      <div data-filter=".photographer" id="about__filter--photog">Photographers</div>
      <div data-filter=".videographer" id="about__filter--vid">Videographers</div>
      <div data-filter=".reporter" id="about__filter--rep">Reporters</div>
      <div data-filter=".designer" id="about__filter--des">Designers</div>
      <div data-filter=".developer" id="about__filter--dev">Developers</div>
      <div data-filter=".coach" id="about__filter--coach">Coaches</div>
    </div>

    <div class="about__content flex">
      {{ range .Site.Data.about }}
      {{ partial "about-info.html" .}}
      {{ end }}
    </div>
  </div>
</div>

<section class="about__thanks">
  <h1>Special Thanks</h1>
</section>
{{ end }}

{{ define "scripts" }}
{{ $scripts := resources.Get "js/scripts.js" }}
{{ $header := resources.Get "js/header.js" }}
{{ $about := resources.Get "js/about.js" }}
{{ $hamburger := resources.Get "js/hamburger.js" }}
{{ $mixitup := resources.Get "js/mixitup.min.js" }}
{{ $aboutpageBundle := slice $scripts $header $about $hamburger $mixitup | resources.Concat "js/aboutpageBundle.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $aboutpageBundle.RelPermalink }}">
</script>
{{ else }}
<script type="text/javascript" src="{{ ($aboutpageBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}
{{ block "footer_js" . }}
<script>
  var mixer = mixitup('#team');
</script>
{{ end }}
{{ end }}