{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}chap {{ .Title | lower }}{{ end }}
{{ define "main" }}
<div class="home__overlay" id="home-overlay"></div>
{{ partial "main-menu-mobile.html" . }}
<nav>
  <!--full screen-->
  <div class="header" id="header">
    {{ partial "header.html" . }}
  </div>
  <!--hamburger-->
  <div class="header-mobile" id="header-mobile">
    {{ partial "hamburger.html" . }}
  </div>
</nav>
{{ partial "photo-hero.html" (dict "number" .Params.weight "background" .Params.image "heading" .Params.storyHeading "subheading" .Params.storySubheading "topic" .Params.topic "content" .) }}


<div class="flex-column byline">
  <div class="byline-name">photos by <span>{{ .Params.photographer }}</span>
  </div>
  <div class="byline-name" id="byline-des">graphics by <span>{{ .Params.designer }}</span></div>
  <div class="byline-name" id="byline-udea">field producers <span>{{ .Params.udea }}</span></div>
  {{ partial "ybr-line.html" . }}
</div>

<div class="photo__content">
  {{ .Content }}

  <div class="photo__line"></div>
</div>

<div class="photo__progress">
  <div class="progress__bar" id="photo-bar"></div>
</div>

<footer class="flex-column">
  {{ partial "footer-photo-stories.html" . }}
</footer>
{{ end }}

{{ define "scripts" }}
{{ $scripts := resources.Get "js/scripts.js" }}
{{ $header:= resources.Get "js/header.js" }}
{{ $hamburger := resources.Get "js/hamburger.js" }}
{{ $progressBar := resources.Get "js/progressBar.js" }}
{{ $scrollytelly := resources.Get "js/scrollytelly.js" }}
{{ $photoPagesBundle := slice $scripts $header $hamburger $scrollytelly $progressBar | resources.Concat "js/photoPagesBundle.js" }}
{{ block "footer_js" . }}{{ end }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $photoPagesBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($photoPagesBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}