.about{
  font-family: $font-about-info;
  font-size: 1rem;
  line-height: 1.5rem;

  .story-hero {
    position: relative;
      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (4 / 6) * 100%;
    }
      > .hero__img-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        img {
          max-width: 100%;
        }
      }
    

    .about__heading {
      font-family: $font-content-heading;
      margin-top: 8vh;
      margin-bottom: 1vh;
    }

    .ybr-line {
      max-width: 30vw;
      margin-bottom: 3vh;
    }
  }

  .about__intro {
    padding-top: 2%;
    margin: 0 35px;
    margin-top: 25px;

    .about__heading {
      font-size: 2.25rem;
      font-family: $font-content-heading;
    }
    
    p {
      max-width: 50rem;
      margin-bottom: 50px;
    }  
  }

  .about__filter-container {
    margin: 2rem 0;
    z-index: 3;
    padding: 3vh 35px;
    background: #ededed;

    .about__filter{
      font-family: $font-about-info;
      justify-content: space-around;
      align-content: baseline;
      flex-wrap: wrap;
      max-width: 50rem;
      margin: 0 auto;
  
      div{
        cursor: pointer;
        margin: 10px;
  
        &:hover{
          font-weight: bold; 
          padding-bottom: 1px;
          border-bottom: solid 1.2px $red;
        }
      }
  
  
      .mixitup-control-active{
        font-weight: bolder; 
        padding-bottom: 1px;
        border-bottom: solid 1.2px $red;
      }
    }
  }

  .about__content{
    // display: grid;
    // max-width: 66vw;
    // margin: 0 auto;
    // font-family: $font-content-body;
    // grid-template-columns: repeat(2, 1fr); 
    // grid-gap: 1rem;
    // grid-template-rows: repeat(5, auto);
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 50rem;
    margin: 0 auto;

    .about__person{
      flex-basis: 25rem;
      padding: 2vh 35px;
      border-radius: 10px;
      margin-bottom: 2%;

      img{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
      }

      .about__info {
        font-family: $font-about-info;
        align-items: center;

        a{
          text-decoration: none;
        }

        a:hover{
          text-decoration: underline;
          text-decoration-color: $red;
        }

        .about__name {
          color: $red;
          font-weight: bold;
        }

        .about__role {
          color: #7b7b7b;
          font-size: 0.9rem;
          margin-bottom: 2vh;
          font-style: italic;
        }

        .about__links {
          a {
            color: $red;
            i {
              text-align: center;
              height: 1.5rem;
              width: 1.5rem;
              font-size: 1.25rem;

              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }

  .about__thanks{
    background: $light-grey;
    padding: 10vh 0;

    .about__heading {
      font-family: $font-content-heading;
    }
  }
}