.about{

  .story-hero {
    color: $white;
    height: 100vh;

    .about__heading {
      font-family: $font-content-heading;
      margin-top: 8vh;
      margin-bottom: 1vh;
    }

    .ybr-line {
      max-width: 30vw;
      margin-bottom: 3vh;
    }
  }

  .about__intro {
    padding-top: 2%;
    
    p {
      max-width: 50vw;
    }

    
  }

  .about__filter{
    font-family: $font-about-info;
    width: 70%;
    margin: 2vh 0;
    z-index: 3;
    justify-content: space-around;
    align-content: baseline;
    padding: 3vh 15%;
    background: #ededed;

    div{
      cursor: pointer;

      &:hover{
        font-weight: bold; 
        padding-bottom: 1px;
        border-bottom: solid 1.2px $red;
      }
    }


    .mixitup-control-active{
      font-weight: bolder; 
      padding-bottom: 1px;
      border-bottom: solid 1.2px $red;
    }
  }

  .about__content{
    display: grid;
    max-width: 66vw;
    margin: 0 auto;
    font-family: $font-content-body;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 1rem;
    grid-template-rows: repeat(5, auto);

    .about__person{
      
      padding: 2vh 0;
      border-radius: 10px;
      margin-bottom: 2%;

      img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 2vh;
      }

      .about__info {
        font-family: $font-about-info;
        align-items: flex-start;

        a{
          text-decoration: none;
        }

        a:hover{
          text-decoration: underline;
          text-decoration-color: $red;
        }

        .about__name {
          color: $red;
          font-weight: bold;
        }

        .about__role {
          color: #7b7b7b;
          font-size: 0.9rem;
          margin-bottom: 2vh;
        }

        .about__links {
          width: 100%;
          a {
            color: $white;
            i {
              text-align: center;
              height:26px;
              width: 26px;
              border-radius: 50%;
              padding: 5px;
              background-color: $red;

              &:hover {
                background-color: $black;
              }
            }
          }
        }
      }
    }
  }

  .about__thanks{
    background: #ededed;
    padding: 10vh 0;

    .about__heading {
      font-family: $font-content-heading;
    }
  }
}