.home {
  .home__scroll {
    color: $white;
    height: 100%;
  }

  nav{
    
    @media screen and (max-width: 800px){
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: rgba(0,0,0,0.3);
    }
  }

  #home__intro,
  #home__cards,
  #home__about {
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 800px){
      justify-content: flex-start;
    }
  }

  @media screen and (max-width: 800px){
    #home__cards {
      height: 200vh;
    }
  }

  #home__intro {
    background-image: linear-gradient(
      rgba(8, 19, 58, 0.3),
      rgba(8, 19, 58, 0.3)
      ), url(../images/home5.JPG);
  
    h1 {
      text-transform: uppercase;
    }

    h2 {
      font-size: 1.8rem;
    }

    p {
      line-height: $line-height-base;
      font-size: 1.18rem;
    }
  
    .home__logo{
      max-width: 40vw;
      height: auto;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    
    .ybr-line{
      max-width: 18vw;
      
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  
    .home__subtitle {
      font-family: $font-hero-subtitle;
    }
  
    .home__desc {
      font-family: $font-hero-desc;
      max-width: 65vw;
    }
  }
  
  #home__about {
    background: $white;
    color: $black;
    height: 800px;
    display: grid;
    padding-top: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'story-bd story-bd story-bd story-bd'
      'story-ft story-ft story-ft story-ft';
    transition: 0.5s background-color;

    @media screen and (max-width: 800px){
      grid-template-columns: 1fr;
      grid-template-areas:
        'story-bd'
        'story-ft';
    }

    .about-content {
      font-family: $font-content-body;
      grid-area: story-bd;

      p {
        max-width: 50vw;
        line-height: $line-height-base;
        margin: 2vw auto;
        transition: 1s opacity;
    
        &:first-child{
          margin-top:3vw;
        }
    
        @media screen and (max-width: 800px){
          max-width: 90vw;
        }
      }
    }
  }
}