.home {
  .home__scroll {
    display: grid;
    color: $white;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(3, 100vh);
    grid-template-areas:
      'bg-vid bg-vid bg-vid bg-vid bg-vid bg-vid bg-vid bg-vid'
      'menu menu menu menu menu menu menu menu'
      'int int int int int int int int';
    line-height: $line-height-base;

    @media screen and (max-width:800px){
      grid-template-columns: 100vw;
      grid-template-rows: 100vh, 80vh, 80vh, 80vh, 100vh;
      grid-template-areas:
        'bg-vid'
        'menu'
        'menu'
        'menu'
        'int';
    }
  }

  nav{
    
    @media screen and (max-width: 800px){
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: rgba(0,0,0,0.3);
    }
  }

  #home__intro,
  #home__cards,
  #home__about {
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 800px){
      justify-content: flex-start;
    }
  }

  @media screen and (max-width: 800px){
    #home__cards {
      height: 200vh;
    }
  }

  #home__intro {
    grid-area: bg-vid;
    background-image: linear-gradient(
      rgba(8, 19, 58, 0.3),
      rgba(8, 19, 58, 0.3)
      ), url(../images/home5.JPG);

  
    h1 {
      text-transform: uppercase;
    }

    h2 {
      font-size: 1.8rem;
    }

    p {
      line-height: $line-height-base;
      font-size: 1.18rem;
    }
  
    .home__logo{
      max-width: 40vw;
      height: auto;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    
    .ybr-line{
      max-width: 18vw;
      
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  
    .home__subtitle {
      font-family: $font-hero-subtitle;
    }
  
    .home__desc {
      font-family: $font-hero-desc;
      max-width: 65vw;
    }
  }

  #home__cards {
    grid-area: menu;
  }
  
  #home__about {
    grid-area: int;
    background-image: url(../images/medellin.jpg);
  }
}

// .about-home {
//   grid-area: about;
//   background: $grey;
//   justify-content: space-evenly;

//   .about-image {
//     flex-basis: 33%;
//     width: 100px;
//     height: 100px;
//     background: $white;
//     border-radius: 50%;
//   }
// }