.home {
  display: grid;
  font-family: $headline-font-1;
  color: $black;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(4, 100vh);
  grid-template-areas:
    'bg-vid bg-vid bg-vid bg-vid bg-vid bg-vid bg-vid bg-vid'
    'menu menu menu menu menu menu menu menu'
    'int int int int int int int int'
    'about about about about about about about about';
}

.intro-home,
.menu-home,
.interactive-home,
.about-home {
  width: 100%;
  height: 100vh;
}

.intro-home {
  grid-area: bg-vid;
  background: $red;
  background-image: url(../images/medellin.jpg);

  h1 {
    text-transform: uppercase;
  }

  .intro-desc {
    max-width: 65vw;
  }
}

#lang-toggle {
  align-self: flex-end;
  margin-right: 8vw;
}

#en-toggle,
#es-toggle {
  border: solid 1px $grey;
  padding: 0.7rem 1.5rem;
}

#en-toggle,
#es-toggle:hover {
  background-color: $black;
  color: $white;
}



.menu-home {
  grid-area: menu;
}

.interactive-home {
  grid-area: int;
  background: $yellow;
  background-image: url(../images/medellin.jpg);
}

.about-home {
  grid-area: about;
  background: $grey;
  justify-content: space-evenly;

  .about-image {
    flex-basis: 33%;
    width: 100px;
    height: 100px;
    background: $white;
    border-radius: 50%;
  }
}