.photo-stories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100vh;
  grid-template-areas:
    'chap1 chap2 chap3 chap4';
  
  
  #chap1 {
    grid-area: chap1;
    background-image: url(../images/photo-chap-1-hero.jpg);
    background-size: cover;
    background-position: center;
  }

  #chap2 {
    grid-area: chap2;
    background-image: url(../images/photo-chap-2-hero.jpg);
    background-size: cover;
    background-position: center;
  }

  #chap3 {
    grid-area: chap3;
    background-image: url(../images/photo-chap-3-hero.jpg);
    background-size: cover;
    background-position: center;
  }
  
  #chap4 {
    grid-area: chap4;
    background-image: url(../images/photo-chap-4-hero.jpg);
    background-size: cover;
    background-position: center;
  }
}