.story-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    'nav nav nav nav'
    'story-hero story-hero story-hero story-hero'
    '. by by .'
    'story-bd story-bd story-bd story-bd'
    'story-ft story-ft story-ft story-ft';
  transition: 0.5s background-color;

  @media screen and (max-width: 800px){
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav'
      'story-hero'
      'by'
      'story-bd'
      'story-ft';
  }
  .story-hero {
    color: $white;
    height: 100vh;
    text-align: center;
    padding: 25px;
    grid-area: story-hero;
    justify-content: flex-start;
    transition: 1s opacity;

    @media screen and (max-width: 800px) {
      height: auto;
      padding-bottom: 0;
    }

    .story-video {
      display: block;
      position: absolute; // Play the video in full screen mode
      top: 0px;
      left: 0px;
      z-index: -1; // Put the video behind all other elements
      width: 100%;
      height: auto;
      max-height: 100%;
      border-radius: 1px;
      object-fit: cover;
      object-position: top left;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    .story-img {
      display: none;
      position: absolute; // Play the video in full screen mode
      top: 0px;
      left: 0px;
      margin-top: 68px;
      width: 100%;
      height: 30vh;
      object-fit: cover;

      @media screen and (max-width: 800px) {
        display: block;
      }
    }

    .video-5 {
      object-position: top center;
    }

    .story-hero__topic {
      text-align: center;
      margin-top: 15vh;

      @media screen and (max-width: 800px) {
        margin-top: 30vh;
        color: $black;
      }

      p {
        font-family: $font-hero-topic;
        font-weight: $font-weight-bold;
        margin: 0;
        text-transform: uppercase;
        font-size: 1.2rem;

        @media screen and (max-width: 800px) {
          font-size: 1rem;
        }
      }

      .ybr-line {
        height: 10px;
        width: 25%;

        .ybr-section {
          stroke-width: 4;
        }
      }
    }

    .story-hero__title {
      font-family: $font-hero-title;
      font-weight: $font-weight-normal;
      font-size: calc(3rem + 3vw);
      margin-bottom: 0;
      margin-top: 25vh;

      @media screen and (max-width: 800px) {
        margin-top: 10px;
        max-width: 75vw;
        font-size: 2.25rem;
        color: $black;
      }
    }

    .story-hero__desc {
      font-family: $font-hero-desc;
      font-weight: $font-weight-normal;

      @media screen and (max-width: 800px) {
        color: $black;
        max-width: 75vw;
        font-size: 1rem;
        text-align: left;
      }
    }

  }

  .story-content {
    font-family: $font-content-body;
    grid-area: story-bd;

    a {
      color: $red;
    }

    .story__subhead {
      font-family: $font-content-heading;
      max-width: 50vw;
      margin: 0 auto;
      font-size: 2rem;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 auto;

      @media screen and (max-width: 800px) {
        max-width: 75vw;
      }

      .ybr-line {
        margin-top: 1%;
        max-width: 10vw;

        .ybr-section{
          stroke-width: 4;
        }
      }
    }

    p {
      max-width: 50vw;
      line-height: $line-height-base;
      margin: 2vw auto;
      transition: 1s opacity;
      font-size: 1.125rem;

      @media screen and (max-width: 800px){
        max-width: 75vw;
        font-size: 1rem;
      }
    }

    .ybr-line{
      transition: 1s opacity;
    }
  }

  .photo__progress {
    position: fixed;
    width: 100%;
    height: 2vh;
    background: #ddd;
    bottom: 0;
    z-index: 1;

    .progress__bar {
      height: 2vh;
      background: $yellow;
      width: 0%;
    }
  }


  footer{
    grid-area: story-ft;
  }
}

nav{
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;

  @media screen and (max-width: 800px){
    width: 100%;
  }
}
