.story-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "nav nav nav nav"
    "story-hero story-hero story-hero story-hero"
    ". by by ."
    "story-bd story-bd story-bd story-bd"
    "story-ft story-ft story-ft story-ft";
  transition: 0.5s background-color;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "story-hero"
      "by"
      "story-bd"
      "story-ft";
  }
  .story-hero {
    color: $white;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    grid-area: story-hero;
    justify-content: flex-start;
    transition: 1s opacity;

    @media screen and (max-width: 800px) {
      height: auto;
      padding-bottom: 0;
    }

    .story-video {
      display: block;
      position: relative; // Play the video in full screen mode
      margin-top: 55px;
      top: 0px;
      left: 0px;
      z-index: -1; // Put the video behind all other elements
      width: 100%;
      height: auto;
      max-height: 100%;
      border-radius: 1px;
      object-fit: cover;
      object-position: top left;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    .story-hero__img {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 30vh;
      object-fit: cover;

      @media screen and (max-width: 800px) {
        display: block;
      }
    }

    .video-5 {
      object-position: top center;
    }

    .story-hero__topic {
      position: absolute;
      text-align: center;
      top: 20%;

      @media screen and (max-width: 800px) {
        margin-top: 35vh;
        text-align: left;
        width: 85vw;
        color: $black;
        position: static;
      }

      p {
        font-family: $font-hero-topic;
        font-weight: $font-weight-bold;
        margin: 0;
        text-transform: uppercase;
        font-size: 1.2rem;

        @media screen and (max-width: 800px) {
          font-size: 1rem;
        }
      }

      .ybr-line {
        height: 10px;
        width: 25%;

        .ybr-section {
          stroke-width: 4;
        }
      }
    }

    .story-hero__heading {
      position: absolute;
      bottom: 15%;

      @media screen and (max-width: 800px) {
        position: static;
      }

      .story-hero__title {
        font-family: $font-hero-title;
        font-size: calc(3rem + 3vw);
        margin-bottom: 0;

        @media screen and (max-width: 800px) {
          margin-top: 10px;
          max-width: 85vw;
          text-align: left;
          font-size: 2.25rem;
          color: $black;
        }
      }

      .story-hero__desc {
        font-family: $font-hero-desc;

        @media screen and (max-width: 800px) {
          color: $black;
          max-width: 85vw;
          font-size: 1rem;
          text-align: left;
        }
      }
    }
  }

  .story-content {
    font-family: $font-content-body;
    grid-area: story-bd;

    a {
      color: $red;
    }

    .story__subhead {
      font-family: $font-content-heading;
      max-width: 50vw;
      font-size: 2rem;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 auto;
      margin-bottom: 15px;

      @media screen and (max-width: 800px) {
        max-width: 85vw;
      }
    }

    p {
      max-width: 50vw;
      line-height: $line-height-base;
      margin: 2vw auto;
      transition: 1s opacity;
      font-size: 1.125rem;

      @media screen and (max-width: 800px) {
        margin: 5vw auto;
        max-width: 85vw;
        font-size: 1rem;
      }
    }

    .ybr-line {
      transition: 1s opacity;
    }

    .story-end-icon {
      display: block;
      max-width: 50px;
      margin: 3rem auto;
    }
  }

  .progress {
    position: fixed;
    width: 100%;
    height: 2vh;
    background: #ddd;
    bottom: 0;
    z-index: 1;

    .progress__bar {
      height: 2vh;
      background: $yellow;
      width: 0%;
    }
  }

  footer {
    grid-area: story-ft;
  }
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.stories {
  .photo__diptych {
    margin-top: 5%;
  
    .photo__diptych-container {
      justify-content: space-evenly;
      max-width: 78vw;
      padding: 2% 0;
      align-items: flex-start;
      flex-wrap: wrap;
  
      @media screen and (max-width: 800px) {
        max-width: 90vw;
        flex-direction: column;
        align-items: center;
      }
  
      img {
        // flex-basis: 50%;
        max-width: 46%;
      }
    }
  
    .photo__diptych-caption {
      width: 78vw;
  
      @media screen and (max-width: 800px) {
        width: 90vw;
      }
  
      p {
        max-width: 100vw;
        margin-left: 0;
        font-style: italic;
        font-family: $font-photo-caption;
        font-size: 1rem;
  
        @media screen and (max-width: 800px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
