//color variables
$red: #EB5F5D;
$blue: #6AA5D9;
$yellow: #F5C65D;
$white: #ffffff;
$black: #000000;

//fonts
$headline-font-1: 'Open Sans',
sans-serif;
$headline-font-2: 'Open Sans',
sans-serif;
$body-font: 'Open Sans',
sans-serif;
$pull-quote-font: 'Open Sans',
sans-serif;
$byline-font: 'Open Sans',
sans-serif;