//breakpoints
$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1300px,
);

//colors
$red: #EB5F5D;
$blue: #6AA5D9;
$yellow: #F5C65D;
$white: #ffffff;
$black: #000000;
$primary: #af4efa;
$grey: #aaa;

//links
$link-color: inherit;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

//fonts
@font-face{
  font-family: dinFontBold;
  src: url('../fonts/d-din/d-din-bold.otf');
}

@font-face{
  font-family: dinFontRegular;
  src: url('../fonts/d-din/d-din.otf');
}

$headline-font-1: 'dinFontBold', sans-serif;
$headline-font-2: 'dinFontRegular',
sans-serif;
$body-font: 'Playfair Display',
serif;
$pull-quote-font: 'Playfair Display',
sans-serif;
$byline-font: 'Lato',
sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.6em;

$spacer: 1rem;
$spacers: ();
$spacers: map-merge((0: 0,
1: 10px,
2: 20px,
3: 30px,
4: 40px,
5: 50px,
6: 60px,
7: 70px,
8: 80px,
9: 90px,
10: 100px,
11: 110px,
12: 120px,
13: 130px,
14: 140px,
15: 150px,
16: 160px,
17: 170px,
18: 180px,
19: 190px,
20: 200px,
),
$spacers);