//Font imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

//Imports - variables FIRST
@import 'variables';
@import 'flex';
@import 'baseof';
@import 'homepage';
@import 'components/buttons';
@import 'components/bg';
@import 'components/header';
@import 'components/cards';
@import 'components/main-menu';

//responsive design
@import 'responsive/breakpoints';