// Darken the non-hovered cards when any cards are hovered
.cards.darkened .card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color .4s;
  z-index: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;

  @media screen and (max-width:800px){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 40vh);

  }

  // Add scale transform to hovered card
  .card.hovered {
    transform: scale(1.1, 1.1);
    transition: transform .3s ease .2s;
    z-index: 3;

    // Add color overlay to hovered card
    &::before {
      background-color: rgba(255, 255, 255, 0.9)!important;
      z-index: 0;
    }

    .card__hover {
      .card__heading,
      .card__title,
      .card__desc {
        color: $black;
      }
    }

  }

  @media screen and (min-width: 800px) {
    // Add unique transform origin to each hovered card
    #card-1.hovered {
      transform-origin: left top;
    }

    #card-2.hovered {
      transform-origin: center top;
    }

    #card-3.hovered {
      transform-origin: right top;
    }

    #card-4.hovered {
      transform-origin: left bottom;
    }

    #card-5.hovered {
      transform-origin: center bottom;
    }

    #card-6.hovered {
      transform-origin: right bottom;
    }
  }
  
  .card {
    position: relative;
    grid-column: span 2;

    &:hover, &:active {

      // Display hover text on card hover
      .card__hover {
        .card__heading,
        .ybr-line,
        .card__title,
        .card__desc,
        .card__button {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }

        .card__heading {
          transition-delay: .25s;
        }

        .ybr-line {
          transition-delay: .3s;
        }

        // Increase title font size on card hover
        .card__title {
          transition-delay: .35s;
          font-size: 2.5rem;
          line-height: 2.3rem;
          padding: 0 50px 10px;
        }

        .card__desc {
          transition-delay: .35s;
        }

        .card__button {
          width: 105px;
        }

      }

      // Hide base text on card hover
      .card__base {

        .card__heading,
        .ybr-line,
        .card__title {
          opacity: 0;
        }

      }

    }

    // Display images behind card text
    .card__img {
      position: absolute;
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .card__heading {
      font-family: $font-card-heading;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 1rem;
    }

    .ybr-line {
      max-width: 80px;
      margin-bottom: 10px;

      .ybr-section {
        stroke-width: 5;
      }

    }

    .card__title {
      font-weight: $font-weight-bold;
      font-family: $font-card-title;
      font-size: 2rem;
      line-height: 1.8rem;
      padding: 40px 25px 15px;
    }

    .card__desc {
      font-size: 1rem;
      font-family: $font-card-desc;
      margin-bottom: 10px;
    }

    .card__button {
      font-family: $font-button;
      position: relative;
      text-transform: uppercase;
      background-color: $red;
      border-radius: 30px;
      height: 25px;
      width: 25px;
      padding: 0 5px;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
    }

    .card__button a {
      position: absolute;
      top: 0;
      right: 10px;
      color: $white;
      text-decoration: none;
    }

    // Vertically and horizontally center card text
    .card__hover,
    .card__base {
      position: absolute;
      width: 100%;
      color: $white;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // Hide hover text without card hover
    .card__hover {

      .card__heading,
      .ybr-line,
      .card__title,
      .card__desc,
      .card__button {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: opacity .3s cubic-bezier(.4, 0, .2, 1), transform .3s cubic-bezier(.4, 0, .2, 1);
      }

      .card__button {
        transition: opacity .3s cubic-bezier(.4, 0, .2, 1) .35s, transform .3s cubic-bezier(.4, 0, .2, 1) .35s, width .5s ease .8s;
      }

    }

    // Display base text without card hover
    .card__base {

      .card__heading,
      .ybr-line,
      .card__title {
        opacity: 1;
        transition: opacity .5s;
      }

    }

  }

}