// Darken the non-hovered cards when any cards are hovered
.cards.darkened .card:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color .4s;
  z-index: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;

  @media screen and (max-width:800px){
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

  }

  // Add scale transform to hovered card
  .card.hovered {
    transform: scale(1.1, 1.1);
    transition: transform .3s ease .2s;
    z-index: 3;

    // Add color overlay to hovered card
    &:before {
      background-color: rgba(255, 255, 255, 0.9)!important;
      z-index: 0;
    }

    .card__hover {
      .card__topic,
      .card__title,
      .card__description {
        color: $black;
      }
    }

  }

  // Add unique transform origin to each hovered card
  #card-1.hovered {
    transform-origin: left top;
  }

  #card-2.hovered {
    transform-origin: center top;
  }

  #card-3.hovered {
    transform-origin: right top;
  }

  #card-4.hovered {
    transform-origin: left bottom;
  }

  #card-5.hovered {
    transform-origin: center bottom;
  }

  #card-6.hovered {
    transform-origin: right bottom;
  }

  .card {
    position: relative;
    text-decoration: none;
    grid-column: span 2;

    &:hover {

      // Display hover text on card hover
      .card__hover {
        .card__topic,
        .ybr-line,
        .card__title,
        .card__description {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }

        .card__topic {
          transition-delay: .25s;
        }

        .ybr-line {
          transition-delay: .3s;
        }

        // Increase title font size on card hover
        .card__title {
          transition-delay: .35s;
          font-size: 3.25rem;
        }

        .card__description {
          transition-delay: .45s;
        }

      }

      // Add color overlay when no cards are hovered
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(245, 198, 93, 0.3);
        transition: background-color .4s;
      }

      // Hide base text on card hover
      .card__base {

        .card__topic,
        .ybr-line,
        .card__title,
        .card__description {
          opacity: 0;
        }

      }

    }

    // Display images behind card text
    .card__img {
      position: absolute;
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .card__topic {
      font-family: $headline-font-1;
      text-transform: uppercase;
      font-size: 1.25rem;
    }

    .ybr-line {
      max-width: 100px;
      margin-bottom: 10px;

      .ybr-section {
        stroke-width: 5;
      }

    }

    .card__title {
      font-weight: $font-weight-bold;
      font-family: $headline-font-1;
      font-size: 3rem;
      padding-top: 25px;
      padding-bottom: 15px;
    }

    .card__description {
      font-size: 1rem;
      font-family: $byline-font;
    }

    // Vertically and horizontally center card text
    .card__hover,
    .card__base {
      position: absolute;
      width: 100%;
      color: $white;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // Hide hover text without card hover
    .card__hover {

      .card__topic,
      .ybr-line,
      .card__title,
      .card__description {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: .3s opacity 0s cubic-bezier(.4, 0, .2, 1), .3s transform 0s cubic-bezier(.4, 0, .2, 1);
      }

    }

    // Display base text without card hover
    .card__base {

      .card__topic,
      .ybr-line,
      .card__title,
      .card__description {
        opacity: 1;
        transition: opacity .5s;
      }

    }

  }

}