// Darken the non-hovered cards when any cards are hovered
.cards.darkened .card:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color .4s;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;

  // Add color overlay to hovered card
  .card.hovered:before {
    background-color: rgba(0, 0, 255, 0.2)!important;
  }

  .card {
    position: relative;
    text-decoration: none;
    grid-column: span 2;

    // Display images behind card text
    .card-img {
      position: absolute;
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .card-title {
      font-weight: $font-weight-bold;
      font-family: $headline-font-1;
      font-size: 3rem;
    }

    .card-description {
      font-size: 2rem;
    }

    // Vertically and horizontally center card text
    .card-hover,
    .card-base {
      position: absolute;
      width: 100%;
      color: $white;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // Hide hover text without card hover
    .card-hover {

      .card-title,
      .card-description {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: .3s opacity 0s cubic-bezier(.4, 0, .2, 1), .3s transform 0s cubic-bezier(.4, 0, .2, 1);
      }

    }

    // Display base text without card hover
    .card-base {

      .card-title,
      .card-description {
        opacity: 1;
        transition: opacity .5s;
      }

    }

  }

  .card:hover {

    // Display hover text on card hover
    .card-hover {

      .card-title,
      .card-description {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      // Increase title font size on card hover
      .card-title {
        transition-delay: .25s;
        font-size: 3.25rem;
      }

      .card-description {
        transition-delay: .35s;
      }

    }

    // Hide base text on card hover
    .card-base {

      .card-title,
      .card-description {
        opacity: 0;
      }

    }

  }

}