a{
  .hamburger__logo{
    max-width: 35vw;
    height: auto;
    z-index: 2;
    
    @media screen and (min-width: 800px){
      display: none;
    }
  }
}

.hamburger {
  padding: 10px 0 10px 10px;
  outline: none;
  z-index: 3;
  cursor: pointer;

  

  @media screen and (min-width:800px) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background: $red;
  }

  .hamburger-inner::after {
    width: 18px;
    right: 0;
  }

  &.is-active {
    .hamburger-inner::after {
      width: inherit;
      right: unset;
    }
  }
}