#header {
  z-index: 9;
  flex-basis: 100%;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  color: $white;
  background-color: $yellow;
  padding: 0.1vh 0;
  width: 100vw;
  @media screen and (max-width: 800px){
    display: none;
  }

  .container {
    justify-content: space-around;
    height: 100%;

    .header__logo {
      max-width: 14%;
      flex-basis: 25%;
    
      img {
        width: 100%;
        height: auto;
      }
    
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .story-dropdown {
      flex-basis:19%;
      text-align: right;
      transition: ease 0.1s;
      cursor: pointer;
      
      &.is-active{
        background: $white;
        color: $red;
      }

    }

    .social-icons{
      font-size: 1.3em;
      flex-basis: 20%;
    
      i{
        color: $white;
      }
    
      .fa-facebook-square:hover {
        color: #3b5998;
      }
    
      .fa-instagram:hover {
        color: #cd486b;
      }
    
      .fa-twitter:hover {
        color: #00aced;
      }
    }
  }
}
