.header {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  color: $white;
  background-color: $yellow;
  padding: 0.1vh 0;
  width: 100vw;

  .container {
    justify-content: space-around;
    height: 100%;
  }
}

.social-icons{
  font-size: 1.3em;

  i{
    color: $white;
  }

  .fa-facebook-square:hover {
    color: #3b5998;
  }

  .fa-instagram:hover {
    color: #cd486b;
  }

  .fa-twitter:hover {
    color: #00aced;
  }
}