.header {
  position: fixed;
  top: 0;
  transition: top 0.3s;
  color: $white;
  background-color: $black;
  justify-content: space-around;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  padding: 0.5vh 0;
  width: 100vw;

  .container {
    justify-content: space-around;
  }
}