// I created a class called "interactive" that goes on each and every interactive created and it has some global stylings I want to keep for EACH interactive piece so they'll pertain to EVERY interactive

.divider {
  border-bottom: solid 1px #707070;
  margin: 10vh auto;
  width: 60vw;

  @media screen and (max-width: 800px) {
    width: 85vw;
  }
}

.interactive {
  max-width: 100%;
  transition: 1s opacity;
  margin: 6vh 0;
  text-align: center;
  font-family: $font-int-body;

  .interactive__title {
    font-family: $font-int-header;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .interactive__subhead {
    font-family: $font-int-subhead;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
    // max-width: 85vw;
  }

  .interactive__intro {
    font-family: $font-int-intro;
    margin-top: 0 !important;
    font-size: 1.2rem;
    max-width: 75%;
    margin: 2vw auto;
    text-align: left;

  }

  .interactive__instructions {
    font-style: italic;
    color: $grey;
    margin-bottom: 2%;
  }

  .interactive__body {
    font-family: $font-int-body;
  }

  .ybr-line {
    max-width: 25vw;
    margin-bottom: 2vh;

    .ybr-section {
      stroke-width: 3;
    }

    @media screen and (max-width: 800px){
      max-width: 40vw;
      .ybr-section {
        stroke-width: 5;
      }
    }
  }

  .interactive__background {
    width: 100%;
    justify-content: flex-start;
  }

}

.flourish {
  max-width: 85vw;
  margin:4vh auto;

  @media screen and (max-width: 800px){
      max-width: 85vw;
  }

  iframe {
    max-width: 85vw !important;
  }
}