.logo {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
    width: 120px;
  }

  img {
    width: 120px;
    height: auto;
  }

  a {
    display: block;
    width: 120px;
    height: 100%;
  }
}