.main-menu {
  color: $black;
  display: none;
  position: absolute;
  left: 0;
  width: 100vw;
  padding-top: 2%;
  text-align: left;
 
  .ybr-line{
    margin: 0 auto;
    flex-basis: 100%;
    max-width: 18vw;
  }
  
  a {
    font-family: $font-nav;
    padding: 10px 14px 10px 14px;
    display: inline-block;
    text-decoration: none;
    color: $black;
    text-align: center;

    &:hover {
      width: inherit;
      background: $red;
      color: $white;
      text-decoration: none;
    }
  }

  &.active {
    >a {
      background: $red;
      text-decoration: none;
      color:$white;

      &:hover {
        text-decoration: none;
        background: $red;
        transition: all 225ms ease-in 0s;
        color: $white;
      }
    }
  }

  &.open{
    display: grid;
    background: rgba(255,255,255,0.9);
    text-align: center;
    grid-template-areas:
      'ybr-line ybr-line ybr-line ybr-line ybr-line ybr-line'
      'story1 story2 story3 story4 story5 interactive';

    .ybr-line{
      grid-area: ybr-line;
      padding-bottom: 2%;
    }

    img{
      width: 10vw;
      height: auto;
    }

    p{ 
      text-align: left;
    }
  }
}
