.main-menu {
  a {
    padding: 10px 14px 10px 14px;
    display: inline-block;
    font-weight: regular;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;

    &:hover {
      background: $primary;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &.active {
    >a {
      background: $primary;
      text-decoration: none;
      color: #ffffff;

      &:hover {
        text-decoration: none;
        background: $primary;
        transition: all 225ms ease-in 0s;
        color: #ffffff;
      }
    }
  }
}