.main-menu {

  a {
    font-family: $byline-font;
    padding: 10px 14px 10px 14px;
    display: inline-block;
    font-weight: regular;
    text-decoration: none;
    color: $white;

    &:hover {
      background: $red;
      color: $white;
      text-decoration: none;
    }
  }

  &.active {
    >a {
      background: $red;
      text-decoration: none;
      color:$white;

      &:hover {
        text-decoration: none;
        background: $red;
        transition: all 225ms ease-in 0s;
        color: $white;
      }
    }
  }
}