$color-main: $red;
$color-active: $white;
$color-link: $white;

$button-height: 27px;
$button-width: 35px;

.main-menu-mobile {
  position: fixed;
  background: $white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  display: none;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: -30;

  &.open {
    opacity: 0.9;
    display: flex;
    height: 100%;
    z-index: 2;
  }

  .top-banner {
    background-color: $yellow;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    padding: 21px 25px;

    a {
      max-width: 35vw;
      font-family: $font-logo;
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $black;
      height: auto;
      z-index: 2;

      &:hover {
        color: $red;
      }
    }
  }

  li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
    &:nth-of-type(2) {
      animation-delay: 0.4s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.45s;
    }
    &:nth-of-type(4) {
      animation-delay: 0.5s;
    }
    &:nth-of-type(5) {
      animation-delay: 0.55s;
    }
    &:nth-of-type(6) {
      animation-delay: 0.6s;
    }
    &:nth-of-type(7) {
      animation-delay: 0.65s;
    }
  }

  ul {
    font-size: 1.6rem;
    font-family: $font-nav-mobile;
    list-style: none;
    padding: 0;
    padding-top: 100px;
    padding-left: 25px;
    margin: 0;
    flex: 0;

    li {
      display: block;
      position: relative;
      opacity: 0;
      margin-bottom: 3vh;
      a {
        display: block;
        position: relative;
        color: $black;
        text-decoration: none;
        overflow: hidden;
        &:hover::after,
        &:focus::after,
        &:active::after {
          width: 100%;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: inherit;
          transition: 0.35s;
        }
      }
    }
  }

  .bottom-menu {
    position: absolute;
    padding: 50px 25px 25px;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 0;
    width: 100%;

    a {
      color: $black;
      font-size: 1.6rem;
      font-family: $font-nav-mobile;
      text-decoration: none;
    }

    .social {
      justify-content: flex-start;
      margin-top: 25px;

      a {
        margin-right: 25px;
        color: $white;
        font-size: 1.5rem;
        background-color: $black;
        padding: 5px;
        padding-top: 4px;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        text-align: center;
      }
    }
  }

  .header__lang-toggle{
    cursor: pointer;
    padding-bottom: 5px;

    .header__lang-toggle__en:hover, .header__lang-toggle__es:hover{
      font-weight: 900;
    }
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.lock-scroll {
  overflow: hidden;
}
