.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  height: 100vh;

  .card:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 255, 0.2);
  }

  .card {
    position: relative;
    text-decoration: none;
    grid-column: span 2;

    .card-img {
      position: absolute;
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .card-title {
      font-weight: $font-weight-bold;
    }

    .card-hover,
    .card-base {
      position: absolute;
      width: 100%;
      padding: 25px;
      color: $white;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .card-hover {

      .card-title,
      .card-description {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: .3s opacity 0s cubic-bezier(.4, 0, .2, 1), .3s transform 0s cubic-bezier(.4, 0, .2, 1);
      }

    }

    .card-base {

      .card-title,
      .card-description {
        opacity: 1;
        transition: .5s opacity;
      }

      .card-title {
        font-size: 3rem;
      }

    }

  }

  .card:hover {

    .card-hover {

      .card-title,
      .card-description {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      .card-title {
        transition-delay: .25s;
        font-size: 3.25rem;
      }

      .card-description {
        transition-delay: .35s;
        font-size: 2rem;
      }

    }

    .card-base {

      .card-title,
      .card-description {
        opacity: 0;
      }

    }

  }

}