#photo-int-scrolly {
 background-color: $red;

  section {
    height: 100%;
    position: relative;
    text-align: center;
  }
   
  /* Center aligned */
  section .inner {
    margin: 0 auto;
    max-width: 85%;
  }
}