.pull-quote-container {
  font-family: $font-pullquote;
  font-weight: $font-weight-bold;
  margin: 5vh auto;

  p {
    font-size: 1.5rem !important;
    line-height: 2rem;
    max-width: 50rem !important;
    align-self: flex-start;
    text-align: center;
    margin: 0 0 2vh 0 !important;
  }

  .ybr-line{
    max-width: 30vw;
    align-self: flex-start;
    margin: 0 auto;
  }

  #pull-quote__attr{
    font-family: $font-pullquote-name;
    font-weight: $font-weight-normal;
    font-style: italic;
    align-self: flex-start;
  }
}

