.pull-quote-container {
  font-family: $font-pullquote;
  margin: 0 auto;
  
  h2{
    margin-bottom: 3vh;
    justify-content: flex-start;
  }

  p{
    max-width: 92%;
    margin: 0;
  }

  .ybr-line{
    max-width: 30vw;
    margin-bottom: 2vh;
    align-self: flex-start;
  }

}