.pull-quote-container {
  font-family: $font-pullquote;
  font-weight: $font-weight-bold;
  margin: 0 auto;

  p{
    font-size: 1.7rem;
    max-width: 80%;
    margin: 0 0 3vh 0;
  }

  .ybr-line{
    max-width: 30vw;
    align-self: flex-start;
  }

  #pull-quote__attr{
    font-family: $font-pullquote-name;
    font-style: italic;
  }
}

.story-content {
  .pull-quote-container {
    margin: 20vh 0;
    p{
    
      &:first-child {
        margin-top: 0;
      }
    }
    .absolute {
      position: absolute;
      left: 6%;
    }
  }

 
}