#scrollytelly-1 {
  background-color: $black;
    background-size: contain;
    background-repeat: no-repeat;
    color:#fff;
}

.background-attachment {
  background-attachment: fixed;
}
.scrolly__text {
  font-size:1.8rem;
  font-family: $font-hero-topic;
  padding-bottom:2vh;
  max-width:75%;
  strong {
    font-family:$font-hero-title;
  }
  @media (max-width:800px) {
      max-width:100%;
  }
}
.scrolly__source {
  font-size:.8rem;
  padding-top:2vh;
}
.scrollytelly__main {
  max-width: 85%;
}

.scrollytelly__body {
  opacity: 0;
  padding: 200px 0;
  transition: opacity 1s ease-out;

  @media (max-width:800px) {
    img {
      max-width:100%;
    }
  }
}
.scrolly__instructions {
  font-size:1rem;
  font-style:italic;
  padding-top:2vh;
}

#scrollytelly-1 .scrollytelly__body.fade-in {
  opacity: 1;
}
.bubbles-container {
  position:relative;
  width:100%;
}
.bubble {
  display:none;
  position:absolute;
  width:100%;
  top:40%;
  left:0;
  background-color:#fff;
  border:2px solid $yellow;
  color:$black;
  padding:4%;
  text-align:left;
  font-size:1.3rem;
  line-height:1.3em;
  img {
    margin: 10px auto;
  }
  .scrolly__source {
    text-align:right;
  }
  .closebubble {
    font-size:2rem;
    font-family:$font-hero-title;
    text-align:right;
  }

}
