/* scrollama */

#scroll {
  position: relative;
  background: $black;
}

.scroll__text {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
}

.step {
  margin: 2rem auto 4rem auto;
  text-align: center;

  p,
  h1,
  h2 {
    color: $black;
    transition: color 1s;
  }
}

.step.is-active {

  p,
  h1,
  h2 {
    color: $white;
    transition: color 1s;
  }
}