.photo__diptych {
  margin-top: 5%;

  .photo__diptych-container {
    background-color: $black;
    justify-content: space-evenly;
    max-width: 78vw;
    padding: 2% 0;
    align-items: flex-start;

    img {
      flex-basis: 50%;
      max-width: 46%;
      object-fit: cover;
    }
  }

  .photo__diptych-caption {
    width: 78vw;

    p {
      margin-left: 0;
      font-style: italic;
      font-family: $font-photo-caption;
      font-size: 1rem;
    }
  }
}