{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}story-page {{ .Title }}{{ end }}
{{ define "main" }}
{{ partial "main-menu-mobile.html" . }}
<nav>
  <!--full screen-->
  <div class="header" id="header">
    {{ partial "header.html" . }}
  </div>
  <!--hamburger-->
  <div class="header-mobile" id="hamburger">
    {{ partial "hamburger.html" . }}
  </div>
</nav>
{{ partial "story-hero.html" (dict "background" .Params.image "heading" .Params.storyHeading "subheading" .Params.storySubheading "topic" .Params.topic "content" .) }}


<div class="flex-column story-byline">
  <div class="byline-name" id="byline-rep">written by <span>{{ .Params.Author }}</span></div>
  <div class="byline-name" id="byline-vid">photo & video
    <span>{{ range .Params.videographer }}{{ . }}, {{end}}
      {{ .Params.photographer }}
    </span>
  </div>
  <div class="byline-name" id="byline-des">graphics <span>{{ .Params.designer }}</span></div>
  {{ if ne .Params.udea "undefined" }}<div class="byline-name" id="byline-udea">field producer
    <span>{{ .Params.udea }}</span></div>{{ end }}
  {{ partial "ybr-line.html" . }}
</div>

<div class="story-content">
  {{ .Content }}
</div>

<footer class="flex-column">
  {{ partial "footer.html" . }}
</footer>
{{ end }}

{{ define "scripts" }}

{{ $scripts := resources.Get "js/scripts.js" }}
{{ $header := resources.Get "js/header.js" }}
{{ $videos := resources.Get "js/videos.js" }}
{{ $hamburger := resources.Get "js/hamburger.js"}}
{{ $intUndocumented := resources.Get "js/gov-undocumented-int.js" }}
{{ $storypageBundle := slice $scripts $header $videos $hamburger $intUndocumented | resources.Concat "js/storypageBundle.js" }}
{{ block "footer_js" . }}{{ end }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $storypageBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($storypageBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}