{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}story-page {{ .Title }}{{ end }}
{{ define "main" }}
{{ partial "main-menu-mobile.html" . }}
{{/*  <nav>
  <!--full screen-->
  <div class="header" id="header">
    {{ partial "header.html" . }}
</div>
<!--hamburger-->
{{ partial "hamburger.html" . }}
</nav> */}}
{{ partial "story-hero.html" (dict "background" .Params.image "heading" .Params.storyHeading "subheading" .Params.storySubheading "content" .) }}


<div class="flex-column story-byline">
  <div class="byline-name" id="byline-rep">written by <span>{{ .Params.Author }}</span></div>
  <div class="byline-name" id="byline-vid">photo & video
    <span>{{ range .Params.videographer }}{{ . }}, {{end}}
      {{ .Params.photographer }}
    </span>
  </div>
  <div class="byline-name" id="byline-des">graphics <span>{{ .Params.designer }}</span></div>
  {{ if ne .Params.udea "undefined" }}<div class="byline-name" id="byline-udea">field producer
    <span>{{ .Params.udea }}</span></div>{{ end }}
  {{ partial "ybr-line.html" . }}
</div>

<div class="story-content">
  {{ .Content }}
</div>

<footer>
  <div class="footer__social">
    <a href="{{ .URL }}"><img src="{{ .Site.BaseURL }}images/logo-footer-black.png" alt="Uprooted footer logo" /></a>
    {{ partial "ybr-line.html" . }}
    <div class="footer__social-icons flex">
      <a href="https://facebook.com/uprootedunc" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a href="https://instagram.com/uprootedunc" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/@uprootedunc" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
{{ end }}

{{ define "scripts" }}

{{ $scripts := resources.Get "js/scripts.js" }}
{{ $header := resources.Get "js/header.js" }}
{{ $videos := resources.Get "js/videos.js" }}
{{ $hamburger := resources.Get "js/hamburger.js"}}
{{ $localStoryBundle := slice $scripts $header $videos $hamburger | resources.Concat "js/localStoryBundle.js" }}
{{ block "footer_js" . }}{{ end }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $localStoryBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($localStoryBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}