{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}chap {{ .Title | lower }}{{ end }}
{{ define "main" }}
{{ partial "main-menu-mobile.html" . }}
<nav>
  <!--full screen-->
  <div class="header" id="header">
    {{ partial "header.html" . }}
  </div>
  <!--hamburger-->
  <div class="header-mobile" id="header-mobile">
    {{ partial "hamburger.html" . }}
  </div>
</nav>
{{ partial "story-hero.html" (dict "background" .Params.image "heading" .Params.storyHeading "subheading" .Params.storySubheading "content" .) }}


<div class="flex-column story-byline">
  <div class="byline-name">photos
    <span>{{ range .Params.photographer }}{{ . }}, {{end}}
    </span>
  </div>
  <div class="byline-name" id="byline-des">graphics <span>{{ .Params.designer }}</span></div>
  <div class="byline-name" id="byline-udea">field producers <span>{{ range .Params.udea }}{{ . }}, {{end}}</span></div>
  {{ partial "ybr-line.html" . }}
</div>

<div class="photo__content">
  {{ .Content }}
</div>

<div class="photo__progress">
  <div class="progress__bar" id="photo-bar"></div>
</div>

<footer class="flex-column">
  {{ partial "footer.html" . }}
</footer>
{{ end }}

{{ define "scripts" }}
{{ $scripts := resources.Get "js/scripts.js" }}
{{ $headerPhoto := resources.Get "js/headerPhoto.js" }}
{{ $hamburger := resources.Get "js/hamburger.js" }}
{{ $scrollytelly := resources.Get "js/photo-scrollytelly.js" }}
{{ $progressBar := resources.Get "js/progressBar.js" }}
{{ $intChapPageBundle := slice $scripts $headerPhoto $hamburger $scrollytelly $progressBar | resources.Concat "js/intChapPageBundle.js" }}
{{ block "footer_js" . }}{{ end }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $intChapPageBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($intChapPageBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}