<div class="footer__stories">
  Explore more stories
  {{partial "ybr-line.html" . }}

</div>
<div class="footer__img">
  {{ $menu := .Site.Menus.main }}
  {{ $weight := .Params.weight }}
  {{ range $menu }}
  <a href="{{ .URL }}">
    <div class="pic flex">
      <h3>{{ .Name }}</h3>
    </div>
  </a>
  {{ end }}
</div>

<div class="footer__social">
  <a href="{{ .URL }}"><img src="../images/logo-footer-black.png" alt="Uprooted footer logo" /></a>
  {{ partial "ybr-line.html" . }}
  <div class="footer__social-icons flex">
    <a href="https://facebook.com/uprootedunc" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://instagram.com/uprootedunc" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/@uprootedunc" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>