<div class="header header-absolute flex" id="header">
  <div class="container flex">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="Uprooted Homepage" src="{{ .Site.BaseURL }}/images/aftermath.gif" /></a>
    </div>
    {{/* <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="Figurit Homepage" src="{{ .Site.BaseURL }}/images/logo-mobile.svg" /></a>
    </div> MOBILE COMING SOON */}}
    {{ partial "main-menu.html" . }}
    {{/* {{ partial "hamburger.html" . }} HAMBURGER MENU COMING SOON */}}
  </div>
</div>