<div class="about-content">
  {{ with .Site.GetPage "/home-about" }}{{ .Content }}{{ end }}
</div>

<footer>
  <div class="footer__social">
    <a href="{{ .URL }}"><img src="../images/logo-footer-black.png" alt="Uprooted footer logo" /></a>
    {{ partial "ybr-line.html" . }}
    <div class="footer__social-icons flex">
      <a href="https://facebook.com/uprootedunc" target="_blank"><i class="fab fa-facebook-square"></i></a>
      <a href="https://instagram.com/uprootedunc" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/@uprootedunc" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>