<div class="about-content">
  {{ with .Site.GetPage "/home-about" }}{{ .Content }}{{ end }}
</div>

<div class="about-help">
  <h2 class="home__subhead">How to Help</h2>
  <p>Many non-profit organizations are providing aid to Venezuelans both in and out of the
    country. Learn more about
    them here.</p>
  <div class="about-orgs flex">
    <div class="orgs flex-column">
      <img src="images/famicove-logo.png" alt="All for Venezuela logo" />
      <div class="orgs__name"><a href="https://www.instagram.com/famicovemedellin/" target="_blank">FAMICOVE</a></div>
    </div>
    <div class="orgs flex-column">
      <img src="images/allforvenezuela-logo.png" alt="All for Venezuela logo" />
      <div class="orgs__name"><a href="https://allforvenezuela.com/" target="_blank">All for Venezuela</a></div>
    </div>
    <div class="orgs flex-column">
      <img src="images/masismore-logo.png" alt="All for Venezuela logo" />
      <div class="orgs__name"><a href="https://www.raymasuprani.com/mas-is-more-foundation/" target="_blank">Mas is More
          Foundation</a></div>
    </div>
    <div class="orgs flex-column">
      <img src="images/primerosauxiliosUCV-logo.png" alt="All for Venezuela logo" />
      <div class="orgs__name"><a href="https://primerosauxiliosucv.org/" target="_blank">Primeros Auxilios UCV</a></div>
    </div>
    <div class="orgs flex-column">
      <img src="images/ilovevenezuela-logo.png" alt="All for Venezuela logo" />
      <div class="orgs__name"><a href="https://www.ilovevenezuela.org/" target="_blank">I Love Venezuela Foundation</a>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer__line"></div>
  <div class="footer__social">
    <a href="{{ .Site.BaseURL }}"><img src="images/logo-footer-black.png" alt="Uprooted footer logo" /></a>
    {{ partial "ybr-line.html" . }}
    <div class="footer__social-icons flex">
      <a href="https://facebook.com/uprootedunc" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/@uprootedunc" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com/uprootedunc" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer__about"><a href="{{.Site.BaseURL}}about">About Us</a></div>
  </div>
</footer>