<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li class="menu-item-services">
      <a href="/services/">
        <span>Services</span>
      </a>
    </li>
    <li class="menu-item-work">
      <a href="/work/">
        <span>Work</span>
      </a>
    </li>
    <li class="menu-item-about">
      <a href="/about/">
        <span>About</span>
      </a>
    </li>
    <li class="menu-item-contact">
      <a href="/contact/">
        <span>Contact</span>
      </a>
    </li>
  </ul>
</div>