<div id="main-menu" class="main-menu">
  {{ partial "ybr-line.html" . }}
  {{ $currentPage := . }}
  {{ $menu := .Site.Menus.main }}
  {{ range $menu }}
  <div class='story-{{ .Weight }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}'>
    <a href="{{.URL}}">
      {{ .Pre }}
      <h3>{{ .Name }}</h3>
      <img src="https://brookenf.github.io/uprooted-mejo584/images/medellin.jpg" alt="a picture of medellin" />
      <p>I'm going to build out this content dynamically, hopefully</p>
    </a>
  </div>
  {{end}}
</div>