{{ define "title" }}Urpooted - A multimedia project of the UNC School of Media and Journalism focused on Venezuelan
families and their adjustments to living in Medellín, Colombia.{{ end}}
{{ define "header_css" }}
<style>
  .header {
    background-color: transparent;
  }
</style>
{{ end }}
{{ define "body_classes" }}home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main"}}

<div id="fullpage">
  {{ partial "header.html" .}}
  <div class="section flex-column bg-cover bg-position-center intro-home" id="intro-home">
    <img class="logo-home" src="./images/logo-home-white.png" alt="Uprooted UNC logo" />
    {{ partial "ybr-line.html" . }}

    <hr />
    <h2 class="intro-subtitle">{{ .Params.Subtitle }}</h2>
    <div class="intro-desc">{{ .Content }}</div>
  </div>
  <div class="section menu-home" id="menu-home">
    {{ partial "menu-home.html" . }}
  </div>
  <div class="section flex interactive-home bg-cover bg-position-center" id="interactive-home">
    {{ partial "interactive-home.html" . }}
  </div>
  <div class="right" id="nav-home">
    {{ partial "nav-home.html" . }}
  </div>
</div>

{{ end }}

{{ define "scripts" }}

{{ $scripts := resources.Get "js/scripts.js" }}
{{ $fullpage := resources.Get "js/fullpage.js" }}
{{ $cards := resources.Get "js/cards.js" }}
{{ $homepage := resources.Get "js/homepage.js" }}
{{ $header := resources.Get "js/header.js" }}
{{ $homepageBundle := slice $scripts $fullpage $cards $homepage $header | resources.Concat "js/homepageBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $homepageBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($homepageBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}