{{ define "title" }}Uprooted - A multimedia project of the UNC School of Media and Journalism focused on Venezuelan
families and their adjustments to living in Medellín, Colombia.{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main"}}
<div class="home__scroll">
  <section class="panel flex-column bg-cover bg-position-center" id="home__intro">
    <nav>
      <!--full screen-->
      <div class="header header--white" id="header">
        {{ partial "header.html" . }}
      </div>
      <!--hamburger-->
      {{ partial "hamburger.html" . }}
    </nav>
    {{ partial "main-menu-mobile.html" . }}
    <img class="home__logo" src="../images/logo-primary-white.png" alt="Uprooted UNC logo" />
    {{ partial "ybr-line.html" . }}
    <h2 class="home__subtitle">{{ .Params.Subtitle }}</h2>
    <div class="home__desc">{{ .Content }}</div>
  </section>
  <section class="panel" id="home__cards">
    {{ partial "home-cards.html" . }}
  </section>
  <section class="panel flex bg-cover bg-position-center" id="home__about">
    {{ partial "home-about.html" . }}
  </section>
</div>

{{ end }}

{{ define "scripts" }}

{{ $scripts := resources.Get "js/scripts.js" }}
{{ $cards := resources.Get "js/cards.js" }}
{{ $homepage := resources.Get "js/homepage.js" }}
{{ $header := resources.Get "js/header.js" }}
{{ $hamburger := resources.Get "js/hamburger.js"}}
{{ $homepageBundle := slice $scripts $cards $homepage $header $hamburger | resources.Concat "js/homepageBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $homepageBundle.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($homepageBundle | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}